body{
    background: linear-gradient(hsl(268, 60%, 30%),hsl(234, 100%, 63%), hsl(177, 79%, 60%));
}

body p, h1, h2, legend{
    font-family: "Tomorrow";
}

button{
    background: linear-gradient(hsl(234, 100%, 63%), hsl(177, 79%, 60%));
    color: white;
}
#welcomeMsg{
    font-size: 4rem;
}
#welcomeSubMsg{
    font-size: 1.5rem;
}

/* Style Dynamic Tasks */
.taskCard{
    border: 3px solid black;
    margin: 1rem;
    padding: 0.5vw 1vw;
    border-radius: 1rem 1rem 0 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}